
ion-toolbar{
    --background:#34495E;
}
ion-title{
    position: absolute;
    color:white;
    margin-left: -90px;
    margin-top: 5px;
}
ion-back-button{
    color: white;
}
.feed_div{
    text-align: center;
}

ion-icon{
    color: #009688;
}


ion-textarea{
    height: 30%;
    border: 1px solid #3399ff;
    border-radius: 20px;
}
ion-button{
    --background:#0EB7CC;
}