

    .message_row {
    
    background-color: #fff;
    
    }
    
    .message {
    
    padding: 10px! important;
    
    transition: all 250ms ease-in-out !important;
    
    border-radius: 10px !important;
    
    margin-bottom: 4px !important;
    
    }
    
    .my_message {
    
    background: #007acc !important;   
    color: #fff !important;
    text-align: right;
    width: 20px;
    
    }
    
    .other_message {
    
    background: gray !important;
    text-align: left;
    color: #000 !important;
    
    }
    
    .time {
    
    color: #afafaf;
    
    float: right;
    
    font-size: small;
    
    }

  