ion-toolbar{
    --background:#34495E;
}
ion-title{
    position: absolute;
    color: white;
    margin-left: -90px;
    margin-top: 5px;
}

ion-back-button{
    color: white;
}

div{
    border: 1px solid #3399FF;
}

P{
    margin-top: -10px;
}

legend{
    font-weight: bold;
}