<ion-header>
  <ion-toolbar color="tertiary">
      <ion-button slot="start" href="/home">
        <ion-icon src="./assets/icon/back.svg" ></ion-icon>
       </ion-button>
    <ion-title>chat</ion-title>

    
  </ion-toolbar>
  <ion-list>
      <ion-item>
        <ion-label>Doten Dorji</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
          <ion-label>Galley Namgyel</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
          <ion-item>
            <ion-label>Khushant Chettri</ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
              <ion-label>Sonam Dema</ion-label>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-label>Sonam Dema</ion-label>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label>Sonam Dema</ion-label>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label>Sonam Dema</ion-label>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label>Sonam Dema</ion-label>
            </ion-item>
          </ion-list>

</ion-header>

<ion-content padding>

</ion-content>
