
<ion-content class="main">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-img id="logo" src="./assets/icon/logo.png"></ion-img><br><br>

         <div>
             <ion-input type="text" [(ngModel)]="user_name" placeholder="Username" name="uusename" class="user_name">
            <ion-icon src="./assets/icon/username.svg"></ion-icon>
            </ion-input><br>
          
       
        
          
            <ion-input [type]="passwordType" [(ngModel)]="user_password" placeholder="Password" name="password" class="user_password">
                <ion-icon src="./assets/icon/password.svg"></ion-icon>
                <ion-icon name="eye" (click)="togglePassword()" id="eyeicon"></ion-icon>
            </ion-input><br>
        
            <ion-button  expand="full" (click)="logIn()" id="user_button" expand="block" size="medium"><span>Login</span></ion-button><br>
             <a class="forgotpass" href="/home">Forgot Password?</a><br><br>
          <ion-button expand="full" (click)="register()" id="password_button" expand="block" size="medium"><span>Register</span></ion-button>

        </div>
  
        
          
      

      

      <div>{{usertype}}</div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
