

.main
{
--background: url(../../assets/img/background.jpg);
background-size: cover;
background-position: center;
background: transparent;

}

ion-grid{
    margin-top: 20%;
}

#logo
{
width:40%;
height:40%;
border-radius: 50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;
margin-left: 30%;
}



.user_name
{

    
    padding: 20px;
    width:245px;
    height: 20%;
    color: white;
    border-bottom:1px solid white;
   
   
    
}

  
.user_password
{

   
    padding: 20px;
    width: 245px;
    height: 20%;
    color: white;
    border-bottom:1px solid white;
  

}








h5 span
{
    background:white;
    padding: -1 5px;
    color:black;
    size: 1px;
}





ion-button span{
    color:white;
}

.toolbar{
    --background:#3399FF;
}
ion-button{
    --background:#63C76A;
    
    

    
}


.Login{
    
    background: rgba(0,0,0,0.2);
}

    
    






