<ion-header>
  <ion-toolbar class="toolbar">
      <ion-back-button slot="start" defaultHref="./assets/icon/back.svg" (click)="menu_Home()"></ion-back-button>
  </ion-toolbar>
</ion-header>   

<ion-content padding>
  
 
  
<ion-grid>
  <ion-row>
    <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-button (click)="mVideo()">
                <ion-icon src="./assets/icon/videos.svg"></ion-icon>
                <ion-label>Motivational Videos</ion-label>
            </ion-button><br>
          </ion-item>
          
      
            <ion-item>
             <ion-button (click)="qoute()">
                <ion-icon src="./assets/icon/quotes.svg"></ion-icon>
                <ion-label>Qoutation</ion-label>
             </ion-button><br>
            </ion-item>
        
      
            <ion-item>
            <ion-button (click)="feeds()">
               <ion-icon src="./assets/icon/feedback.svg"></ion-icon>
               <ion-label>Feedback</ion-label>
            </ion-button><br>
          </ion-item>
          
          
            <ion-item>
            <ion-button (click)="Share()">
            <ion-icon name="share"></ion-icon>
            <ion-label>Share</ion-label>
            </ion-button><br>
            </ion-item>
        
      
            <ion-item>
            <ion-button (click)="rate()">
                <ion-icon src="./assets/icon/rate.svg"></ion-icon>
                <ion-label>Rate</ion-label>
            </ion-button><br>
          </ion-item>
          
      
            <ion-item>
            <ion-button (click)="about()">
                <ion-icon src="./assets/icon/contact.svg"></ion-icon>
                <ion-label >About</ion-label>
            </ion-button>
            </ion-item>
          </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
 

</ion-content>


