ion-toolbar{
    --background:#34495E;
}

ion-title{
    position: absolute;
    color: white;
    margin-left: -90px;
    margin-top: 5px;
}

ion-back-button{
    color: white;
}
ion-button{
    width: 70%;

}
ion-item ion-label{
    color: white;
}
ion-item ion-icon{
    color:white;
}


ion-button ion-icon{
    position: absolute;
    left: 3%;
}
ion-button ion-label{
    position: absolute;
    left: 15%;
}
ion-icon{
    color:#3399FF;
}

.youtubeicon{
    position: absolute;
    
}
.qouteicon{
    position:absolute;
    margin-top:0%;
    margin-left: 69%;
}
.feedbackicon{
    position: absolute;
    margin-top: 50%;
}
.shareicon{
    position: absolute;
    margin-top: 50%;
    margin-left: 69%;
}
.rateicon{
    position: absolute;
    margin-top: 105%
}

.abouticon{
    position: absolute;
    margin-top: 105%;
    margin-left: 69%;

}
ion-icon{
    color: #009688;
}