h5
{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.01em;
    margin: 10px 0 20px;
    color: white;
}
.toolbar{
    --background:#3399FF;
}
ion-card-header{
    color: #1e1e1e;
    font-weight: bold;

}
ion-card-content{
    color: #1e1e1e;
    font-style: italic;
}

ion-card{
    border:1px solid #3399FF;
}


ion-button{
    --background:#63C76A;
    border-radius: 5px;
    border: 1px #63C76A;
    padding:1px;
  
    
}