<ion-header>
  <ion-toolbar class="toolbar">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        
          <ion-button expand="full" (click)="questionpage()">Ask Question</ion-button>
           <ion-card *ngFor="let item of items" expand="full">
             <ion-label>Question:</ion-label>
             <ion-card-header>{{item.question}}</ion-card-header>
             <ion-label>Description:</ion-label>
             <ion-card-content>{{item.description}}</ion-card-content>
           </ion-card>
            
          
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
