<ion-header>
  <ion-toolbar class="toolbar">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
          <div padding>
              <ion-item>
                  <ion-textarea type="textarea" placeholder="Ask question here"></ion-textarea>
              </ion-item><br><br>
            
              <ion-item>
                  <ion-textarea type="textarea" placeholder="Write description (optional)" ></ion-textarea>
              </ion-item>
              <ion-button expand="block">Send</ion-button>
          </div><br>
          <ion-card style="height:40%">
            {{response}}
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
