
ion-toolbar{
    --background:#34495E;
}
ion-title{
    display: inline-block;
    position: absolute;
    color: white;
    margin-left: -90px;
    margin-top: 2px;
}
ion-back-button{
 
    color: white;
    margin-left: 2px;
    margin-top: 2px;
 
}

h5
{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.01em;
    margin: 10px 0 20px;
    color: white;
}

ion-card-header{
    color: #1e1e1e;
    font-weight: bold;

}
ion-card-content{
    color: #1e1e1e;
    font-style: italic;
}

ion-card{
    border:1px solid #3399FF;
}


ion-button{
    --background:#0EB7CC;
    border-radius: 5px;
    border: 1px #63C76A;
    padding:1px;
  
    
}