<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-2>
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-col>
        <ion-col col-5>
            <ion-title>Questions & Answers</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        
          <ion-button expand="full" (click)="questionpage()">Ask Question</ion-button>
           <ion-card *ngFor="let item of items" expand="full">
             <ion-card-header>{{item.question}}</ion-card-header>
             <ion-card-content>{{item.description}}</ion-card-content>
           </ion-card>
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
