<ion-header>
  <ion-toolbar class="toolbar">
    <ion-back-button defaultHref="/home"></ion-back-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <div padding class="question"><ion-item>{{question}}</ion-item><br>
          <ion-item>{{subquestion}}</ion-item></div><br>

          <ion-button expand="full" (click)="yes()" [(ngModel)]="hide" [hidden]="hide==='hide'">Yes</ion-button>
         
          <ion-button expand="full" (click)="no()" [(ngModel)]="hide" [hidden]="hideno==='hide'" >No</ion-button>
          <ion-button expand="full" (click)="back()">{{toggle}}</ion-button>
          
      </ion-col>
    </ion-row>
  </ion-grid> 

</ion-content>
