.light-theme{
    ion-content{
        background-color: #090f2f;
    }
    .toolbar-title{
        color: #fff;
    }
    .header.toolbar-background{
        border-color: #ff0fff;
        background-color: #090f2f;
    }
}