ion-toolbar{
    --background: #34495E;
}
ion-title{
    display: inline-block;
    position: absolute;
    margin-left: -90px;
    margin-top: 2px;
    color: white;
}
ion-back-button{
    color: white;
}

ion-textarea{
    border: 1px solid #3399FF;
    height: 90px;

}

ion-button{
    --background:#0EB7CC;
}

