<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-back-button defaultHref="/question-answer"></ion-back-button>
        </ion-col>
        <ion-col>
            <ion-title>Ask Questions</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Enter your question</ion-label>
          <ion-input type="text" [(ngModel)]="question"></ion-input>
        </ion-item>
        <ion-textarea [(ngModel)]="description" placeholder="Enter your description" style="width:100%; height:25%" spellcheck="true"></ion-textarea>
        <ion-button expand="full" (click)="Query()" [disabled]="question===''">Submit</ion-button>
        <ion-card style="height:25%" *ngFor="let item of items">
          <p>{{item.question}}</p>
          <p>{{item.answer}}</p>
         
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
