
ion-tab-bar{
    --background: linear-gradient(to bottom,#405C9C,white);
}

ion-toolbar{
    --background: linear-gradient(to bottom,#405C9C,white);
}

ion-tab-button{
    --width:10%;
}


.toolbar{
    --background:#3399FF;
}
ion-tab-bar{
    --background:#3399FF;
}

.setbutton{
    margin-right: 2%;
    width:10%;
}
.bottomtab{
    --background:#3399FF;
}
