  <ion-header>
   
    <ion-toolbar style="--background:#306754">
        
     <ion-tab-bar style="--background:#306754">
        <ion-label style="color:white">Counsellor</ion-label>
          <ion-tab-button (click)="setting()" style="margin-top: 5%;">
              <ion-icon src="./assets/icon/sett.svg" style="color: white"></ion-icon>
          </ion-tab-button>
          <ion-tab-button (click)="setting()" style="margin-top: 5%;">
              <ion-icon src="./assets/icon/notify.svg"></ion-icon>
          </ion-tab-button>
      </ion-tab-bar>
 
    </ion-toolbar>
  </ion-header>
    
  

<ion-content>
 
  <ion-list>
    <ion-item>
      <ion-label>Doten Dorji</ion-label>
    </ion-item>

    <ion-item>
        <ion-label>Doten Dorji</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Doten Dorji</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Doten Dorji</ion-label>
          </ion-item>
          <ion-item>
              <ion-label>Doten Dorji</ion-label>
              
            </ion-item>
            <ion-item>
                <ion-label>Doten Dorji</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>Doten Dorji</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Doten Dorji</ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label>Doten Dorji</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Doten Dorji</ion-label>
                      </ion-item>
                      <ion-item>
                          <ion-label>Doten Dorji</ion-label>
                        </ion-item>
  </ion-list>

</ion-content>

<ion-tabs slot="bottom">
  <ion-tab-bar style="--background:#306754">
    <ion-tab-button >
      <ion-icon src="./assets/icon/chat.svg" style="color: white"></ion-icon>
      <ion-label style="color:white">Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button>
        <ion-icon src="./assets/icon/question.svg"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="depression()">
          <ion-icon name="add"></ion-icon>
          <ion-label>Depression</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="menu()">
            <ion-icon src="./assets/icon/menu.svg"></ion-icon>
            <ion-label>Menu</ion-label>
          </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
