

<ion-content >
    <div> 
        <ion-list>
            <ion-radio-group [(ngModel)]="designation">
                
                
                <ion-item >
                <ion-label>User</ion-label>
                <ion-radio value="User"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Peer</ion-label>
                <ion-radio value="Peer"></ion-radio>
              </ion-item>
            </ion-radio-group>
            </ion-list>
            <ion-button (click)="cancel()" style="margin-left:5%">Cancel</ion-button>
            <ion-button (click)="ok()" style="margin-left: 30%">OK</ion-button>
            <div>
              <p>{{roles}}</p>
            </div>
  </div>
</ion-content>
