

<ion-content >
    <div> 
        <ion-list>
            <ion-radio-group>
                <ion-item >
                    <ion-label><b>Register as:</b></ion-label>
                </ion-item>
                
                <ion-item >
                <ion-label>User</ion-label>
                <ion-radio></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Peer</ion-label>
                <ion-radio></ion-radio>
              </ion-item>
            </ion-radio-group>
            </ion-list>
            <ion-button (click)="cancel()" style="margin-left:5%">Cancel</ion-button>
            <ion-button (click)="ok()" style="margin-left: 30%">OK</ion-button>
  </div>
</ion-content>
