<ion-header>
  <ion-toolbar class="toolbar">
   <ion-back-button defaultHref="/menu"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
     <p> <q>There is hope, even when your brain tells you there isn't.</q><br>-John Green</p>
    </ion-item>
    <ion-item>
        <p> <q>Sometimes, life will kick you around, but sooner or later, you realize you are not just a survival. You are a worrior, and you are stronger than anything life throws your way</q><br>-Brooke Davis</p>
       </ion-item>
  </ion-card>

</ion-content>
