.main_register{
    --background: url(../../assets/img/image5.jpg);
      background-size: cover;
      background-position: center;
      background: transparent;


}
      
.register_div_class{
    background: rgba(1, 1, 1, 0.5);
    margin-top: 60%;
}

ion-button{
    --background:#E78408;
}

ion-content{
    --background: #00CCFF;

}
.toolbar{
    --background:#3399FF;
}
ion-radio-group{
    
    color: white;
}
ion-input{
    color: white;
    border-bottom:2px solid white;

}

ion-radio-group ion-radio{
    color: white;
}