.main_register{
   // --background: url(../../assets/img/image5.jpg);
   --background:white;
      background-size: cover;
      background-position: center;
     


}


ion-button{
    --background:#0EB7CC;
}

ion-content{
    --background: #00CCFF;

}
.toolbar{
    --background:#3399FF;
}
ion-radio-group{
    
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
ion-input{
    color: black;
    border-bottom:2px solid #0EB7CC; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    


}
ion-label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

ion-radio-group ion-radio{
    color: white;
}
ion-item{
    --background:black; 
    height: 60px;
    color: white;
}
ion-grid{
    margin-top: 20%;
}


